/* Your custom styles */
@font-face {
 font-family: "roboto_regular";
 src: url("assets/css/fonts/roboto/Roboto-Regular.woff2") format("woff2"),
        url("assets/css/fonts/roboto/Roboto-Regular.woff") format("woff"),
        url("assets/css/fonts/roboto/Roboto-Regular.ttf") format("ttf");
}

@font-face {
 font-family: "roboto_bold";
 src: url("assets/css/fonts/roboto/Roboto-Bold.woff2") format("woff2"),
        url("assets/css/fonts/roboto/Roboto-Bold.woff") format("woff"),
        url("assets/css/fonts/roboto/Roboto-Bold.ttf") format("ttf");
}

@font-face {
 font-family: "roboto_light";
 src: url("assets/css/fonts/roboto/Roboto-Light.woff2") format("woff2"),
        url("assets/css/fonts/roboto/Roboto-Light.woff") format("woff"),
        url("assets/css/fonts/roboto/Roboto-Light.ttf") format("ttf");
}

.bt-txt-color{
	color: #08BFBD !important;
}

.bt-color{
	background-color: #08BFBD !important;
}
