@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; }
#inputs,
#errors,
#directions {
    position: fixed;
    width: 33.3333%;
    max-width: 300px;
    min-width: 200px;
    height: 380px;
}

#inputs {
    z-index: 10;
    top: 10px;
    left: 10px;
}

#directions {
    z-index: 99;
    position: fixed;
    background: rgba(89, 107, 106, 0.93);
    top: 62px;
    right: 7px;
    bottom: 0;
    box-shadow: 0px 2px 7px 0px #607D8B99;
    border-radius: 4px;
}

#errors {
    z-index: 8;
    opacity: 0;
    padding: 10px;
    border-radius: 0 0 3px 3px;
    background: rgba(0,0,0,.25);
    top: 90px;
    left: 10px;
}
 path[Attributes Style] {
    stroke: red;
}
.leaflet-top .leaflet-control {
    margin-top: 100px;
    opacity: 0.5;
}
.leaflet-left {
    left: 22%;
}
.leaflet-top .leaflet-control a:hover{
    opacity: 1;
}
.mapboxgl-ctrl-geocoder{ min-width:100%; }

.fabBouton{
    display: flex;

    position: fixed;

    width: 50px;

    height: 50px;

    float: right;

    background: #FCFCFC;

    bottom: 35px;
    
    right: 15px;

    border-radius: 50%;

    background-blend-mode: lighten;

    align-items: center;

    box-shadow: 0px 2px 7px 0px #00000080;
}

.fabBouton img{
    width: 50%;
    margin: 0 auto;
}

.coms-user{
    display: block;
    border: 0px solid black;
    outline: 0px none transparent;
    position: fixed;
    float: right;
    right: 75px;
    width: 330px;
    height: 375px;
    font-size: 12px;
    color: #222;
    background: #fff;
    bottom: 50px;
    z-index: 100;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0px 2px 7px 0px #607D8B99;
}

textarea[type=text], select {
    width: 100%;
    padding: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 90px;
    font-family: 'Raleway';
    font-size: 14px;
    background-color: #fff;
    color: #556080;
}

.input_pr {
    background-color: #fff;
    color: #556080;
}

button{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.fabBouton-profil{
    z-index: 102;
    display: block;
    outline: 0px none transparent;
    position: fixed;
    width: 35px;
    float: right;
    background: #02b6bd;
    top: 9px;
    right: 20px;
    border-radius: 50%;
    overflow: auto;
}

.fabBouton-profil img {
    width: 100%;
}

.brand-indicator {
    margin-top: -5px;
}

.card-profil {
    z-index: 103;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    max-width: 300px;
    top: 56px;
    background-color: #fff;
    border: 1px solid #ccc;
    right: 2px;
    margin: auto;
    text-align: center;
    font-family: 'Raleway';
    border-radius: 4px;
}

.title {
  color: grey;
  font-size: 18px;
}
.btn-send-coms{
    max-height: 50px;
    text-align: center;
    background-color: #08BFBD;
    float: right;
    width: auto;
    border-radius: 4px;
    padding: 10px;
    margin-top: 5px;
    font-weight: bold;
}
.div-message{
}

.list-unstyled li:first-child {
    border-top: none;
}

.list-unstyled li{
    list-style: none;
    max-width: 100%;
    padding: 15px 5px 1px 5px;
    border-top: 1px solid #596B6A1A;
    font-family: 'Raleway';
}
.image{
    font-size: 20px;
    margin-left: 15px;
    font-weight: bold;
    color: #596B6A;
}

.titre{
    font-size: 14px;

    margin-left: 15px;

    font-weight: bold;

    color: #263238cc;
}
.div-nom{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    word-wrap: break-word;
}
.list-unstyled p{
    position: relative;
    background-color: #dbdbdb1a;
    border-radius: 4px;
    padding: 6px;
    margin-top: 8px;
    font-size: 12px;
}
.class-bnt-profil div{
    margin: 0px 18px;
}
.class-bnt-profil div button{
    background: transparent;
    color: #4d4d4d;
    border-radius: 0px;
    transition: ease-in .5s;
}

.class-bnt-profil div button:hover{
    color: #08BFBD;
    transition: ease-in .5s;
}

.bottom-border{
    border-bottom: 1px solid #05292433;
}

.class-bnt-profil {
    font-size: 12px;
}


.geocoder {
    position:fixed;
    z-index: 100;
    width:50%;
    left:50%;
    height: 90px;
    margin-left:-25%;
    overflow: auto;
}

.contente-search{
    position:fixed;
    background-color: white;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
    border-radius: 3px;
    top:calc(10px + 70px);
    right: 5px;
    min-width: calc(25% - 40px); 
    max-width: calc(25% - 40px);
    z-index: 100;
  }
  .directions-icon {
    display: inline-block;
    vertical-align: middle;
    background-size: 50%;
    speak: none;
    background-repeat: no-repeat;
  }
  .directions-icon{
    background-position: center;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 310px;
  }
.div-origin{
    width: 40px;
    height: 40px;
}
.div-destination{
    width: 40px;
    height: 40px;
}
.directions-icon-depart{
  background-color: #08BEBC;
}
.directions-icon-arrive{ 
  background-color: #596B6A;
}
.form-label{
    position: absolute;
    color: #fff;
    padding: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 0 0 0 3px;
}

.origin-label{
  background: #3ab1cf;
}

.destination-label{
  /*background:#4d4d4d;*/
}
.ctrl-geocoder{
    font: 15px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: relative;
    background-color: white;
    width: calc(100% - 360px);
    min-width: calc(100% - 40px); 
    max-width: calc(100% - 40px);
    margin-left: 40px;
    border-radius: 0 0 3px 0;
}

.ctrl-geocoder input{
}
.ctrl-geocoder input[type='text']{
    font-size: 12px;
    border: 0;
    background-color: white;
    margin: 0;
    color: rgba(0,0,0,.5);
    padding: 10px 40px 10px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.ctrl-geocoder input[type="text"]:focus, input[type="password"]:focus, textarea:focus{
  outline: none;
}

/*Logo betaksys*/
.navbar{
    position: fixed;
    display:block;
    z-index: 101;
    height: 55px;
    width: 100%;
    background-color: #FCFCFC;
    box-shadow: 0px -3px 8px #607D8B;
}
.navba div{
    margin-left: -25%;
}
.logo-betaksys{

}
.div-pub{
    position: absolute;
    bottom: 10%;
}
.div-bar-pub{
    display: none;
    position: fixed;
    width: 30%;
    max-width: 300px;
    min-width: 200px;
    height: 100%;
    z-index: 99;
    position: fixed;
    background: white;
    top: 70px;
    bottom: 0;
    text-align: center;
    overflow: auto;
}
.div-pub-info{
    margin-top: 10%;
}
.leaflet-interactive{
    stroke: red;
}


.nav-logo{
    width: 1.85rem;
}

.nav-info{
    font-size: 8px;
    font-family: roboto;
    font-weight: lighter;
    padding: 6px 0px;
}

.brand-img, .brand-title {
    display: inline-block;
    color: #00796B;
    font-family: 'Raleway';
    font-size: 16px;
}

footer.map-footer{
    position: absolute;
    width: 100%;
    height: 22px;
    background-color: #596B6A;
    bottom: 0px;
    z-index: 1006;
    color: #ffffffe6;
    font-size: 10px;
    font-family: 'Roboto';
    display: flex;
    align-items: center;
    padding-right: 7px;
    text-align: right;
    justify-content: end;
    font-weight: bolder;
}

.itineraire {
    position: absolute;
    z-index: 1002;
    left: 6px;
    background-color: #fff;
    border-radius: 4px;
    padding: 5px;
    top: 61px;
    box-shadow: 0px 2px 7px 0px #607D8B99;
}

#SearchDebut,#SearchFIn {
    border: 1px solid #596b6a4d;
    border-radius: 2px;
    padding: 5px 26px 5px 15px;
    font-family: 'Raleway';
    font-size: 13px;
    min-width: 250px;
    margin: 6px 4px;
    background-color: #fff;
    color: #556080;
}

.itineraire-icon {
    width: 1.6rem;
    margin-left: 8px;
}

#instructions {
    width: 98%;
    padding: 0px 20px 20px 20px;
    font-family: 'Raleway';
    height: 210px;
    overflow: auto;
}

#routes{
    background-color: rgb(89, 107, 106);
}

.mapbox-directions-step-maneuver {
    font-size: 15px;
}

.pic-in-com img {
    width: 2.2rem;
}

.geocode-autocomplete{
    background-color: #fff;
    max-height: 94px;
    overflow-x: auto;
}

.geocode-autocomplete li {
    list-style: none;

    border-bottom: 1px solid #0000001a;

    padding: 7px 6px;

    font-family: 'Raleway';

    font-size: 10px;

    width: 240px;

    word-wrap: break-word;
}

.geocode-autocomplete a {
    color: #596B6A;
    display: block;
}

.geocode-autocomplete li:hover{
    background-color: #8080801a;
}

.geocode-autocomplete li:hover a,.geocode-autocomplete a:hover{
    text-decoration: none;
}


#instructions div.col-md-9{
    color: #d7d8d8;

    font-family: "Raleway";

    list-style-type: none;

    padding: 19px 0px;

    font-size: 12px;

}

#instructions .row{
    margin-right:  0;
}

#instructions > .step-info {
    border-bottom: 1px solid #fff3;
}

.my-div-icon div {
    background-color: #08BFBD;
    width: 100%;
    display: inline;
    padding: 6px;
    border-radius: 4px;
    font-family: "Raleway";
    font-weight: bold;
    margin-left: -25px;
    color: #fff;
    box-shadow: 0px 0px 4px -1px #00000080;
}

#select-route {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: auto;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/select-bg.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: 100%;
    background-position-y: 0px;
    background-size: auto auto;
    color: #d7d8d8;
    border: 1px solid #d7d8d8;
    padding: 8px 25px 8px 8px;
    background-size: 18px;
    background-position-y: center;
    background-position-x: 98%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

#routes-possible {
    height: auto;
    margin: 8px;
}

.route-info > div > div {
    display: inline;
    font-weight: bold;
}

.route-info {
    color: #d7d8d8;
    font-size: 14px;
    font-family: "Raleway";
    border-bottom: 1px solid #d7d8d833;
    padding-bottom: 8px;
}

.route-info > div {
    display: inline-block;
    margin: 8px 8px 5px 0px;
}

/* ngIf animation */
.animationIf.ng-enter,
.animationIf.ng-leave {
  -webkit-transition: opacity ease-in-out .2s;
  -moz-transition: opacity ease-in-out .2s;
  -ms-transition: opacity ease-in-out .2s;
  -o-transition: opacity ease-in-out .2s;
  transition: opacity ease-in-out .2s;
}
.animationIf.ng-enter,
.animationIf.ng-leave.ng-leave-active {
  opacity: 0;
}
.animationIf.ng-leave,
.animationIf.ng-enter.ng-enter-active {
  opacity: 1;
}

.loader{
    bottom: 40px;
    z-index: 999;
    white-space: nowrap;
    background-color: #fff;
    font-size: 12px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 1px 1px 4px 0px #0000004d;
    margin: 0 auto;
}

.loader div {
    text-align: center;
}

.loader img {
    width: 75px;
}

.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #06405c4d;
    z-index: 9999;
    top: 0;
    display: flex;
    align-items: center;
}

.date_commentaire {
    margin-left: 16px;
    font-size: 9px;
}

.div-message {
    height: 220px;
    overflow-y: auto;
    display: inline-block;
    width: 100%;
    margin-top: 4px;
}

#pin-depart img,#pin-arrivee img {
    width: 22px;
    opacity: 0.5;

}

#pin-depart{
    position: absolute;
    top: 14px;
    right: 12px;
}

#pin-arrivee{
    position: absolute;
    top: 57px;
    right: 12px;
}

.pin_arrivee_cursor {
    cursor:url(../img/pin_arrivee_sm.png), auto !important;
}

.pin_depart_cursor {
    cursor:url(../img/pin_depart_sm.png), auto !important;
}

.step-info .label {
    opacity: 0.7;
}

.way-present {
    background-image: url(../img/pointille.png);
    background-size: 6px;
    background-repeat: repeat-y;
    background-position-x: center;
    display: flex;
    align-items: center;
}

#instructions .row:first-child .way-present {
    background-image: url(../img/pointille.png);
    background-size: 6px;
    background-repeat: repeat-y;
    background-position-x: center;
    display: flex;
    align-items: center;
}

.way-present img {
    height: 28px;
    background-color: #657575;
    padding: 6px;
    margin: 0 auto;
    border-radius: 28px;
}

.baniere-pub{
    position: absolute;
    z-index: 99999;
    width: 320px;
    height: 160px;
    background-color: grey;
    border-radius: 0px 4px 0px 0px;
    overflow: hidden;
    left: 0px;
    bottom: 20px;
}

#carousel-example-1z {
    height: 160px;
}

.carousel-inner {
    height: 100%;
}

.carousel-item{
    height: 100%;
}

.carousel-item > img{
    height: 100%;
    object-fit: cover;
}

#zoom-in {
    right: 75px;
}

#zoom-out {
    right: 135px;
}

.zoomer{
    background: #FCFCFC33;
}

.sx_disabled{
    background-color: #94929280;
}

.tippy-tooltip.honeybee-theme {
  /* Your styling here. Example: */
  background-color: #556080e6;
}

.tippy-roundarrow {
    fill: #556080e6;
}

.back-img img {
    width: 100%;
    height: 100%;
}

.back-img {
    height: 14px;
    display: inline-block;
}

.back-text {
    display: inline-block;
    color: #556080;
}

.back-container {
    width: 100px;
    margin-top: -40px;
    position: fixed;
    background-color: red;
    padding: 5px 2px;
    border-bottom-right-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 1px 1px 0px #0000004d;
    z-index: 8;
    cursor: pointer;
}

.credit-courant{
    position: fixed;
    top: 1px;
    z-index: 999;
    right: 8px;
    background-color: #08bfbd;
    border-radius: 500px;
    padding: 5px 8px;
    font-size: 11px;
    color: #fff;
    font-weight: bold;
    height: 25px;
    width: auto;
    cursor: pointer;
}

.update-direct-forfait{
    background-color: #08bfbd;
}

.step-info .row {
    font-family: Roboto;
}
/*FIN*/