.error{
  margin-bottom: 0;
  margin-left: 6px;
  margin-top: -10px;
}

.select2-container .select2-selection--single {
    height: 38px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 33px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 6px !important;
    right: 6px !important;
}

.loading{
	display: none;
	align-items: center;
	justify-content: center;
}

.form-control-feedback {

    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
    color: #777;

}

.form-group.has-feedback{
	position: relative;
}

.bouton{
	margin: 2px;
	float : left; 
	border: none ;
	background-color : transparent;
}
.profilImage{
	height: 100px;
	object-fit: cover;
}
.erreur{
	style="color:#FF0000";
}

.loader2 {
  position: relative;
  text-align: center;
  margin: 15px auto 35px auto;
  z-index: 9999;
  display: block;
  width: 80px;
  height: 80px;
  border: 10px solid rgba(0, 0, 0, .3);
  border-radius: 50%;
  border-top-color: #000;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

.loader{
 position: relative;
  text-align: center;
  margin: 15px auto 35px auto;
  z-index: 9999;
  display: block;
  width: 80px;
  height: 80px;
  border: 10px solid rgba(0, 0, 0, .3);
  border-radius: 50%;
  border-top-color: #000;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.card-body.table-custumed{
	overflow-x : auto; 
	padding-right : 10px;
}
/** SPINNER CREATION **/



@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}


/** MODAL STYLING **/

.modal-contents {
  border-radius: 0px;
  box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.7);
}

.modal-backdrop.show {
  opacity: 0.75;
}

td {
	text-align: center !important;
	white-space: nowrap !important;
}
th {
	text-align: center !important;
	white-space: nowrap !important;
}
.aligner_liste{
	align-items: flex-end;
}
.imaged{
	object-fit: contain;
}
.bouton-sticky {
  position:fixed;
  bottom:1%;
  right:1%;
  z-index:9999;
  border: none ;
  background-color : transparent;
  width: 100px;
  height:100px;
 
}
.exportImage{
   width: 50px;
  height:50px;
}
.progress {cursor: progress;}