
.w3-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgba(64, 64, 64, 0.8);}
.w3-message{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:#737373;}
.w3-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;}
.w3-modal-message{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:50%;height: 50%;}
.w3-modal_alert{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:#08bfbd;background-color:rgba(8, 191, 189, 1);}
.w3-modal-content_alert{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:50%;height: 50%;}
.w3-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.w3-container{margin:0 auto;height: 100%;}
.w3-container_alert{margin:0 auto;height: 50%;}
.w3-container_message{margin:0 auto;height: 20%;}
.w3-sidebar{width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.w3-bar-block .w3-bar-item{width:100%;margin-top: 2px;display:block;padding:8px 16px;text-align:center;border:none;white-space:normal;float:none;outline:0}
.w3-bar-block.w3-center .w3-bar-item{text-align:center}.w3-block{display:block;width:100%}
.w3-bar-block .w3-dropdown-hover,.w3-bar-block .w3-dropdown-click{width:100%}
.w3-bar-block .w3-dropdown-hover .w3-dropdown-content,.w3-bar-block .w3-dropdown-click .w3-dropdown-content{min-width:100%}
.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{width:100%;text-align:center;padding:8px 16px}
.w3-bar .w3-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.w3-bar .w3-dropdown-hover,.w3-bar .w3-dropdown-click{position:static;float:left}
.w3-bar .w3-button{white-space:normal}
.w3-bar-block .w3-bar-item{width:100%;display:block;padding:8px 16px;text-align:center;border:none;white-space:normal;float:none;outline:0}
.w3-bar-block.w3-center .w3-bar-item{text-align:center}.w3-block{display:block;width:100%}
.w3-bar .w3-button{white-space:normal}
.w3-teal,.w3-hover-teal:hover{color:#fff!important;background-color:#08bfbd!important}
.w3-bar .w3-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.w3-display-topright{position:absolute;right:0;top:0}
.w3-teal,.w3-hover-teal:hover{color:#fff!important;background-color:#556080 !important}
.header_mdp{
  text-align: center;
  padding: 12px 2px 2px 2px;
  height: 20%;
}
.div_inf{
  
}
.footer_mdp{
  position: absolute; 
  width: 50%;
  height: auto;
}
.input_pr{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 80%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.icon_pr{
  display: block;
  background-color: #556080;
  height:50px;
  width:10%;
  text-align: center;
  padding-top: 15px;
  color: white;
  float: left;
}

.color_nav{
  text-align: center;
  font-size: 15px;
  color: #59595980;
  background: linear-gradient(to left, #f6f5f5, #f6f5f5 95%, #02b6bd80 15%);
  margin-left: -16px;
  margin-bottom: 1px;
  width: calc(100% + 16px);
}

.color_nav.selected{
  background: linear-gradient(to left, #fff, #fff 95%, #02b6bd 15%);
  text-decoration: none;
  font-size: 15px;
  color: #595959;
}

.color_nav:hover{
  background: linear-gradient(to left, #fff, #fff 95%, #02b6bd 15%);
  text-decoration: none;
  font-size: 15px;
  color: #02b6bd;
}
.color:active{
   background: linear-gradient(to left, #fff, #fff 95%, #017a7e 15%);
}
.button_sex_h{
  width: 50px;
  background-color: #02b6bd;
  /*border: 5px solid #02b6bd;*/
  border-bottom: 5px solid #016265;
}
.button_sex_f{
  width: 50px;
  background-color: #ff6699;
  /*border: 5px solid #ff6699;*/
  border-bottom: 5px solid #80002a;
}

.button_update{
  border: 5px solid #02b6bd;
  color: #fff;
  float: left;
  background-color: #02b6bd;
  font-size: 13px;
  padding: 6px !important;
  border-radius: 4px;
}
.btn-send-coms{
    max-height: 50px;
    text-align: center;
    background-color: #08BFBD;
    float: right;
    width: auto;
    border-radius: 4px;
    padding: 10px;
    margin-top: 5px;
    font-weight: bold;
}

.button_action_valider {
    margin: 0 auto;
}

#btn_perso {
    padding: 18px 0px 10px 0px;
    border-top: 2px solid #0000001a;
    margin-top: 18px;
}

.btn-mdp {
    background-color: #556080;
    border-color: #556080;
}

.title {
  color: grey;
  font-size: 18px;
}
.modal_modif_back{
  background-color: rgba(8, 0, 0, 0.5);
  width:100%;
  height: 100%;
}
.modal_modif{
  margin:auto;
  margin-top: 10%;
  left: 25%;
  background-color: #fff;
  width:50%;height: auto;
}
.button_modale{
  position: relative;
  width: 50%;
  float: right;
  color: #fff;
  background-color: #08bfbd;
  padding: 10px;
}
.div_content{
  text-align: center;
}
.mot_titel{
  text-align: left!important;
}
/*ACHAT*/
.fortait_titre{
  font-size: 28px;
  color:#737373;

}
.achat_titre{
  color:#737373;
}
.div_achat{
  z-index: 1002;
  position:absolute;
  padding:0 auto;
}
.modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
}
.modal-dialog.modal-notify.modal-warning .modal-header {
    background-color: #ff8e38;
}
.modal-dialog.modal-notify .modal-header {
    border: 0;
}
.justify-content-center {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}
.button_achat_valider{
}
.button_achat{
  width: 150px;
  height: auto;
  border: 5px solid #fff;
  color: #fff;
  background-color: #08bfbd;
  padding: 8px 0px;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 14px;
}
.type_forfait{
  background-color: #08bfbd;
  color: #fff;
  height: 25px;
  width: 70px;
  font-size: 14px;
}
.list_forfait{
  margin: 15px auto;
  background-color: #fff;
  width: 90%;
  height: 50%;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 3px 8px 2px #0000001a;
  border-radius: 2px;
}

.modal_achat {
    margin: auto;
    left: 25%;
    background-color: #fbfbfb;
    color: #08bfbd;
    width: 60%;
    height: 100%;
    border-radius: 2px;
}


#modale_achat::-webkit-scrollbar{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #08bfbd;
  border-radius: 5px;
}
#modale_achat::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #fff;
  border-radius: 5px;
}
#modale_achat::-webkit-scrollbar-thumb {
  background-color: #08bfbd;
  background-image: -webkit-gradient(linear, 0 0, 0 100%,
                    color-stop(.5, rgba(255, 255, 255, .2)),
                    color-stop(.5, transparent), to(transparent));
  border-radius: 5px;
}
.info_fortfait{
  color: #404040;
}

.div_alert{
  z-index: 1006;
  position:absolute;
  color: white;
  padding: 20px;
  width: 25%;
  height: 75px;
  top:5%;
  right: -35%;
  animation-name: message;
  animation-duration: 4s;
}
@keyframes message{
  0% {right: -35%;}
  10% {right: 0%;}
  80% {right: 0%;}
  100% {right: -35%;}
}

.close-btn{
  position: absolute;
  z-index: 9;
  font-family: "Raleway";
  font-size: 25px;
  right: 8px;
  top: -5px;
  cursor: pointer;
}

button:focus {
    outline: none !important;
  }

.button_modale.btn_annuler {
    background-color: #556080;
    color: #fff;
}

.card-perso {
    background-color: #5560801a;
    border-radius: 4px;
    padding: 8px;
}

.card-perso-header {
    color: #556080;
    margin-top: 15px;
}

.card-perso p {
    color: #556080;
}

#btn_achat {
    margin-top: 15px;
    width: 50%;
    margin-left: auto;
}

.forfait-title.ng-binding {
    text-align: left;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
    color: #556080cc;
}

.forfait-price .ng-binding {
    background-color: #778099cc;
    border-radius: 4px;
    color: #fff;
    width: 100%;
    font-size: 14px;
    margin-left: auto;
    padding: 2px 10px;
}

.forfait-price {
    display: flex;
    align-items: center;
}

.col-md-12.forfait-credit.ng-binding {
    text-align: left;
    color: #778099;
}

.list_forfait hr {
    margin: 10px;
}