@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 50%;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 100%;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form select{
  font-family: "Roboto", sans-serif;
  width: 100%;
  outline: 0;
  background: #f2f2f2;
  height: 50px! important;
  border: 0px solid #ccc !important;
  box-sizing: border-box;
  margin: 0 0 15px;
  padding: 15px;
  overflow: hidden;
  color: rgb(117, 117, 117) !important;
  font-size: 11px !important;
}
.num_code{
  display: block;
  background-color: #3ab1b1;
  height:50px;
  width:8%;
  text-align: center;
  padding-top: 15px;
  color: white;
  float: left;
}
.input_code{
  left: -50px;
  right: 50px;
  max-width: 92%;
  padding: 80px;
  float: left;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #08bfbd;
  width: 100%;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #02b6bd;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  /*max-width: 50%;*/
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  /*margin: 50px auto;*/
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
.body-login{
  background: #02b6bd; /* fallback for old browsers */
  /*background: -webkit-linear-gradient(right, #02b6bd, #08bfbd);
  background: -moz-linear-gradient(right, #02b6bd, #08bfbd);
  background: -o-linear-gradient(right, #02b6bd, #08bfbd);
  background: linear-gradient(to left, #02b6bd, #08bfbd);*/
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
.body-map{
  margin:0;
  padding:0;
}
/*Loading*/
.thecube {
    z-index: 104;
    width: 75px;
    height: 75px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}
.cube{
      position: relative;
      -webkit-transform: rotateZ(45deg);
      transform: rotateZ(45deg);
}
.cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    -webkit-animation: foldthecube 2.4s infinite linear both;
    animation: foldthecube 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.c2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.c3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.c4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.c2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.c3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.c4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@keyframes foldthecube {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }

    25%,
    75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }

    90%,
    100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}
.form .psd_errer{
  border:1px solid #ff0000;
}
.mots_errer{
  display: none;
  color: #ff0000;
  text-align: left;
}

/*MODIF PROFIL*/

.div-modif{
  
}
.form-group{
  margin-bottom: 15px;
}

label{
  margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
  background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}
.form-control {
    height: auto!important;
padding: 8px 12px !important;
}
.input-group {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
}
#button {
    border: 1px solid #ccc;
    margin-top: 28px;
    padding: 6px 12px;
    color: #666;
    text-shadow: 0 1px #fff;
    cursor: pointer;
    -moz-border-radius: 3px 3px;
    -webkit-border-radius: 3px 3px;
    border-radius: 3px 3px;
    -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    box-shadow: 0 1px #fff inset, 0 1px #ddd;
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
}
.main-center{
  margin-top: 30px;
  margin: 0 auto;
  max-width: 400px;
    padding: 10px 40px;
  background:#009edf;
      color: #FFF;
    text-shadow: none;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);

}
span.input-group-addon i {
    color: #009edf;
    font-size: 17px;
}

.login-button{
  margin-top: 5px;
}

.login-register{
  font-size: 11px;
  text-align: center;
}
.w3-animate-zoom {
    animation:animatezoom 0.6s;
  }
  @keyframes animatezoom{
    from{
      transform:scale(0)
      } 
    to{
      transform:scale(1)
    }
  }
  
  .w3-modal-content{
    background-color:#fff;
    position:relative;
    padding: 12px auto;
    outline:0;
    margin-top: 10%;
    margin-left: 25%;
    width: 50%;
  }

  .w3-teal-erreur{
    color:#fff !important;
    background-color:#ff4d4d !important;
  }
  .w3-teal,.w3-hover-teal:hover{
    color:#fff !important;
    background-color:#3ab1b1 !important;
  }
  
  .w3-display-topright{
    position:absolute;
    right:0;
    top:0;
  }
  .w3-card-4,.w3-hover-shadow:hover{
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
  }
  .w3-white,.w3-hover-white:hover{color:#000!important;background-color:#fff!important}
  .w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
  .w3-teal,.w3-hover-teal:hover{color:#fff!important;background-color:#3ab1b1!important}
  .w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
  .w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}
  .w3-border-top{border-top:1px solid #ccc!important}.w3-border-bottom{border-bottom:1px solid #ccc!important}
  .w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
  .w3-padding-16{padding-top:16px!important;padding-bottom:16px!important}.w3-padding-24{padding-top:24px!important;padding-bottom:24px!important}
  
  .w3-red,.w3-hover-red:hover{color:#fff!important;background-color:#3ab1b1!important}
  .w3-right{float:right!important}
  .w3-hide-small{display:block !important}
  .w3-padding-small{padding:4px 8px!important}
  .w3-container, .w3-panel { padding: 1.01em 16px;}
  .w3-modal{
    z-index:2;
    display:none;
    padding-top:5px;
    position:fixed;
    left:0;
    top:0;
    width:100%;height:100%;
    overflow:auto;background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.9)}
  h2{
    text-align: center;
    font-size:20px;
    font-family:"Segoe UI",Arial,sans-serif;
    font-weight:400;
    margin:10px 10px;
  }
  .w3-display-topright{position:absolute;right:0;top:0}


.w3-modal_larg{
  z-index:2;
    display:none;
    padding-top:5px;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.9)
}
.w3-modal-content_larg{
    background-color:#fff;
    position:relative;
    padding: 12px auto;
    outline:0;
    margin-top: 5%;
    margin-left: 5%;
    width: 80%;
  }
#loadingProgressG{
  width:100%;
  height:19px;
  margin-bottom: 5px;
  overflow:hidden;
  background-color:white;
  border-radius:10px;
  -o-border-radius:10px;
  -ms-border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
}

.loadingProgressG{
  background-color:#3ab1b1;
  margin-top:0;
  margin-left:-250px;
  padding-bottom: 10px;
  animation-name:bounce_loadingProgressG;
    -o-animation-name:bounce_loadingProgressG;
    -ms-animation-name:bounce_loadingProgressG;
    -webkit-animation-name:bounce_loadingProgressG;
    -moz-animation-name:bounce_loadingProgressG;
  animation-duration:1.5s;
    -o-animation-duration:1.5s;
    -ms-animation-duration:1.5s;
    -webkit-animation-duration:1.5s;
    -moz-animation-duration:1.5s;
  animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
  animation-timing-function:linear;
    -o-animation-timing-function:linear;
    -ms-animation-timing-function:linear;
    -webkit-animation-timing-function:linear;
    -moz-animation-timing-function:linear;
  width:100%;
  height:19px;
}



@keyframes bounce_loadingProgressG{
  0%{
    margin-left:-100%;
  }

  100%{
    margin-left:100%;
  }
}

@-o-keyframes bounce_loadingProgressG{
  0%{
    margin-left:-100%;
  }

  100%{
    margin-left:100%;
  }
}

@-ms-keyframes bounce_loadingProgressG{
  0%{
    margin-left:-100%;
  }

  100%{
    margin-left:100%;
  }
}

@-webkit-keyframes bounce_loadingProgressG{
  0%{
    margin-left:-100%;
  }

  100%{
    margin-left:100%;
  }
}

@-moz-keyframes bounce_loadingProgressG{
  0%{
    margin-left:-100%;
  }

  100%{
    margin-left:100%;
  }
}
 
